name: Pyright

on:
  pull_request:
    branches:
      - master
      - main
      - dev

jobs:
  pyright:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Set up Python
      uses: actions/setup-python@v6

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyright

    - name: Run Pyright
      run: pyright . --level error
